body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { 
    margin:0; padding:0; 
}
body, button, input, select, textarea { 
    font:12px/1.5tahoma, arial, \5b8b\4f53; 
}
h1, h2, h3, h4, h5, h6{ 
    font-size:100%; 
}
address, cite, dfn, em, var{ 
    font-style:normal; 
}
code, kbd, pre, samp { 
    font-family:couriernew, courier, monospace; 
}
small{ 
    font-size:12px; 
}
ul, ol { 
    list-style:none; 
}
a { 
    text-decoration:none; 
}
a:hover { 
    text-decoration:underline; 
}
sup { 
    vertical-align:text-top; 
}
sub{ 
    vertical-align:text-bottom; 
}
legend { 
    color:#000; 
}
fieldset, img { 
    border:0; 
}
button, input, select, textarea { 
    font-size:100%; 
}
table { 
    border-collapse:collapse; 
    border-spacing:0; 
}
/* 
作者：晓松
链接：https://www.jianshu.com/p/10a7959033f8
來源：简书
著作权归作者所有。商业转载请联系作者获得授权，非商业转载请注明出处。 */